@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes swing {
  0%,
  100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(10deg);
  }
  75% {
    transform: rotate(-10deg);
  }
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideInUp {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-swing {
  animation: swing 0.5s ease-in-out;
}

.animate-slideIn {
  animation: slideIn 0.2s ease-out;
}

.animate-slideInUp {
  animation: slideInUp 0.5s ease-in-out;
}
